{% extends 'Navbar/projectnavbar.html' %}
{% load static % }
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COMMERCE KART</title>
</head>
<body>
{% block body %}
<div>
<h1 align ="center">
    HOME PAGE
</h1>
</div>
{% endblock %}
</body>
</html>